<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Owners Story</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!--  CSS  -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/ownerStory.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!--  Nav Bar  -->
  <%- include('partials/_header') %>
    <main>
      <div id="myStory">
        <p class="title"><%= stories.story[0].title  %></p>
        <p><%= stories.story[0].content  %></p>
        <footer>
          <div class="icons">
            <!-- <i class="fa-solid fa-flag report"></i> -->
          </div>
        </footer>
      </div>
      <% if(stories.story[0].completed) { %>
        <div class="ending">
<div class="theEnd">The End</div>
<div class="border"></div>
<h3 class="endTitle">Story Creator</h3><p class="storyUserNames"><%=stories.story[0].name%></p>
<h3 class="endSecondTitle">Contributors</h3>

<% for(let name of names) { %>

<p class="storyUserNames"><%= name.name %></p>

<% } %>
</div>
  <% } else {%>

      <div class="border"></div>


      <section id="contribution-container">
        <!-- Contribution history fills here -->

        <% if(stories.contributions.length && active.length) { %>

          <% for(let contribution of stories.contributions) { %>
            <% if(contribution.active) { %>

        <div class="contribution">
            <input type="hidden" >
          <p><%= contribution.additions  %></p>
          <footer>
            <div class="icons">
              <i class="fa-solid fa-flag report"></i>
              <div class="select">
                <!-- add contribution -->
                <form class="submit <%= stories.story[0].id  %>" id="<%= stories.story[0].id  %>"action="/users/add/<%= contribution.id  %>" method="POST">
                <button class="add" type="submit">Continue</button>
                </form>
                <!-- end and contribute -->
                <form class="submit" action="/users/end/<%= contribution.id  %>" method="POST">
                <button class="add" type="submit">The end</button>
                </form>
                </div>
              <div class="rating">
                <form class="submit" action="/users/dislike/<%= contribution.id  %>" method="POST">
                <button id="<%= contribution.id  %>" class="fa-solid fa-arrow-down vote"></button>
                <span id="<%= contribution.id  %>" class="ratingCounter" >
                  <div id="vaiableCounter"> <%= contribution.rating  %>
                  </div></span></form>
                <form id="<%= contribution.id  %>" class="submit" action="/users/like/<%= contribution.id  %>"" method="POST">
                <button id="<%= contribution.id  %>"class="fa-solid fa-arrow-up vote"></i></form>
              </div>
            </div>
          </footer>
        </div>
        <% } %>
        <% } %>
        <% } else {%>

          <div class="theEnd">Waiting for a contribution<div class="dot1" >.</div><div class="dot2" >.</div><div class="dot3" >.</div></div>

          <% } %>
          <% } %>
      </section>
      <div class="bottom"></div>
    </main>
    <div class="hidden">
      <a href="" class="scrollTop"><i class="fa-solid fa-angles-up"></i></a>
    </div>
  </section>
</body>
<!-- <%- include('partials/_footer') %> -->
</html>
