<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Story</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!--  CSS  -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/userSingleStory.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!--  Nav Bar  -->
  <%- include('partials/_header') %>
    <main>
      <div id="myStory">
        <p class="title"><%= stories.title  %></p>
        <p><%= stories.content  %></p>
        <footer>
          <div class="icons">
            <i class="fa-solid fa-flag report"></i>
          </div>
        </footer>
      </div>
      <% if(story is finished) { %>
<div class="theEnd">The End</div>
  <% } %>
  <%  else { %>
      <div class="show">
        <button class="showText" type="submit">continue the story</button>
      </div>
      <section class="new-add">
        <div class="addText">
          <form class="addContribution" action="/stories/<%= :id  %>" method="POST">
            <textarea name="text" id="add-text" placeholder="Continue the story"></textarea>
        </div>
        <footer>
          <button class="addButton" type="submit">submit</button>
          <output name="counter" class="counter" for="add-text">
          </output>
        </footer>
        </form>
      </section>
      <div class="border"></div>
      <% } %>





      <section id="contribution-container">
        <!-- Contribution history fills here -->
        <% if(contributions) { %>
        <% for(let contribution in contributions) { %>
      <div class="contribution">
          <input type="hidden" >
        <p><%= addition  %></p>
        <footer>

          <div class="icons">
            <i class="fa-solid fa-flag report"></i>


            <div class="rating">
              <form class="submit" action="/users/like/<%= :id  %>" method="POST">
              <button class="fa-solid fa-arrow-up vote"></button><span class="ratingCounter"> <%= rating  %></span></form>
              <form class="submit" action="/users/dislike/<%= :id  %>"" method="POST">
              <button class="fa-solid fa-arrow-down vote"></i></form>
            </div>
          </div>
        </footer>
      </div>
      <% } %>
      <% } %>
      </section>
      <div class="bottom"></div>
    </main>
    <div class="hidden">
      <a href="" class="scrollTop"><i class="fa-solid fa-angles-up"></i></a>
    </div>
  </section>
</body>

</html>
